*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  height: 70px;
  z-index: 100;
  background-color: orangered;
}
.navbar .reg{
  background-color: white;
  color:orangered ;
  padding: 5px;
}
.navbar img{
  width: 100px;
  height: 50px;
}
.hero{
  background-image: url("https://cravings.ricr.in/assets/bgImage4-L1QELaMd.jpg");
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}
.hero h1{
  font-size: 50px;
  font-weight: 700;
}
.hero button{
  height: 50px;
  width: 120px;
  border: none;
  font-weight: 700;
  
}
.hero .btn1{
  background-color: orangered;
  color: white;
}
.hero input{
  width: 700px;
  height: 45px;
}
.loginPage{
  background-image: url("https://cravings.ricr.in/foodTable.webp");
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 70px;
}
 .loginPage .cont{
  width: 450px;
 
 }
 .cont h1{
 font-size: 30px;
 font-weight: 900;
 color:orangered ;
 }
 .loginPage button{
   height: 40px;
  width: 320px;
  border: none;
  font-weight: 700;
  background-color: orangered ;
  color: white;
 }
  .loginPage .para{
    color:orangered ;
    text-decoration: none;
   
  }
  .loginPage input{
    border: 1px solid rgb(230, 200, 189) ;
     
  }
  .loginPage input:hover{
    border: 2px solid orangered;
  }