body {
  background: #ffffff;
  color: #111;
  transition: 0.3s;
}

body.dark 
{
  background: #293348;
  color: #ffffff;
}
input.dark{
background: #9fa3aa;
  color: #ffffff;
  
}
.main.dark{
background: #293348;
  color: #ffffff;
}
.theme-btn {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
#profile {
  width: 130px;
  height: 130px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

#profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#GitHubLink{
    width: 200px;
}
.main{
    width: 800px;
    background: #ffffff;
  border-radius: 18px;
  padding: 30px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
}
.main:hover{
transform: scale(1.05);
}
#theme-btn {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}