:root{
    --primery-color:rgb(218, 123, 218);
    --secondary-color:aqua;
    --text-color:green;
    --button-border:2px solid rgb(191, 159, 159);
}

h1{
    color: var(--primery-color);
    
}
h1::before{
    content: " ✨";
    margin-right: 10px;
}
h3{
    color: var(--secondary-color);
}
p{
    color: var(--text-color);
}p::first-letter{
    color: red;
}
th{
    color: var(--primery-color);
}
td{

    color: var(--text-color);
}
#login{
    background-color: var(--primery-color);
    color: var(--secondary-color);
    border: var(--button-border);
}
#Reegister{
    background-color: var(--secondary-color);
    color: var(--primery-color);
    border: var(--button-border);
}
table{
border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    
}